#box {
    width: 300px;
    height: 300px;
    margin: 100px;
    border: 1px solid darkgray;

    color: black;
    background-color: aqua;
    transition: .5s;

    font-size: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    font-size: 30px;
    text-decoration: none;

    margin: 30px;
}